<h1>All Products (<%= @products.length %>)</h1>
<%= link_to "New Product", "/products/new" %>  

<% @products.each do |product| %> 
<p> <%= link_to product.name, "/products/#{product.id}" %> <%= product.description %> <%= product.formatted_price %></p>
<% end %> 	 