<h1>Your Product</h1>
<%= link_to "Back to Products", products_url %> | <%= link_to "Edit Products", edit_product_path(@product) %> 
<p> <%= @product.name %>, <%= @product.description %>, $<%= @product.price_in_cents %> </p>